<!-- Website Topnav-->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img src="/images/logob.png" height="50px" alt="SafeWire">
        <span>SafeWire <br/><small>PORTAL</small></span>
      </a>
      <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons menu">menu</i><i class="material-icons close">close</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dnav"><i class="material-icons medium left">account_circle</i> <div class="navbar-account-name truncate">Pritam Bhanji <br/><span class="truncate">SoftChain Test Agency</span></div> <i class="material-icons right">expand_more</i></a>
        <!-- Dropdown Structure -->
        <ul id="dnav" class="dropdown-content">
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider"></li>
          <li><a href="#!">three</a></li>
        </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- Website Sidenav-->
{{side-nav}}