<ul class="sidenav sidenav-fixed" id="slide-out">
  <li class="clearfix no-padding logo">
    {{#link-to "orders" class="brand-logo"}}
      <img src="/images/logob.png" height="50px" alt="SafeWire">
      <span>SafeWire <br/><small>PORTAL</small></span>
    {{/link-to}}
  </li>
  <li class="no-padding"><a class="subheader">MENU</a></li>
    <li class="no-padding">{{#link-to "orders"}}<i class="material-icons">insert_drive_file</i> Orders{{/link-to}}</li>
    <li class="no-padding"><a class="modal-trigger" href="#supportmodal"><i class="material-icons">help_outline</i>Support</a>
    </li>
    <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header"><i class="material-icons">perm_data_setting</i>Administration<i class="material-icons right">expand_more</i></a>
        <div class="collapsible-body">
          <ul>
            <li>{{#link-to "admin.users"}}<i class="material-icons">supervisor_account</i>Team Directory{{/link-to}}</li>
            <li><a href="#!"><i class="material-icons">library_books</i>Escrow Accounts</a></li>
            <li><a href="#!"><i class="material-icons">credit_card</i>Subscription Plan</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
