/*
  Application navigation
*/

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
/* clear float */
.clear {
  float: none;
  clear: both;
}
.btn-rounded {
  border-radius: 10px;
}


/* Brand Logo and Color */
.brand-logo {
  font-size: 24px !important;
  font-weight: 500;
}
.brand-logo img {
  margin: 8px;
  height: 48px;
  float: left;
}
.brand-logo span {
  float: left;
  line-height: 22px;
  margin: 8px 0;
  color: #333333;
}
.brand-logo span small{
  font-size: 60%;
  color: #777777;
}

.header .navbar-fixed nav {
  width: 100%;
}

nav .sidenav-trigger {
  left: 300px;
}
nav .sidenav-trigger .menu {
  display: block;
}
nav .sidenav-trigger .close {
  display: none;
}
nav .nav-wrapper .brand-logo {
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 64px;
}
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    min-width: 170px;
  }
}

/* Navbar account name */
.navbar-account-name {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  margin: 12px 0 0;
  font-weight: 500;
  float: left;
  max-width: 180px;
  min-width: 180px;
}
.navbar-account-name span {
  font-size: 16px;
  font-weight: 400;
}

.sidenav,
.sidenav li,
.sidenav li>a{
  background: #1d1d1d;
  color: #fff;
}
.sidenav li .subheader,
.sidenav .collapsible-header {
  background: #131313;
  color: #fff !important;
}
.sidenav li.active .collapsible-header .material-icons.right {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.collapsible-body li>a {
  background: #131313;
  padding: 0 18px !important;
}

.sidenav li>a>i {
  color: #fff !important;
}
.sidenav .logo>a,
.sidenav .logo>a:hover,
.sidenav .logo>a:active,
.sidenav .logo>a:visited {
  background: #f1f1f1;
}
.sidenav li>a.brand-logo {
  display: flex;
  align-items: center;
  height: 64px;
}

.sidenav li.no-padding>a {
  padding: 0 16px;
}
.sidenav-open .nav-wrapper>.brand-logo {
  display: none;
}
.sidenav-open header,
.sidenav-open main,
.sidenav-open footer {
  padding-left: 300px;
}
.sidenav-open  .sidenav-trigger .menu {
  display: none;
}
.sidenav-open  .sidenav-trigger .close {
  display: block;
}
.sidenav-open .header .navbar-fixed nav {
  width: calc(100% - 300px);
}
.sidenav-open nav .sidenav-trigger  {
  left: 0;
}
.sidenav-open main .nav-wrapper>.brand-logo {
  display: block;
}

@media only screen and (max-width : 992px) {
  .sidenav-open header,
  .sidenav-open main,
  .sidenav-open footer {
    padding-left: 0;
  }
}





main {
    flex: 1 0 auto;
}


@media only screen and (min-width: 993px) {
  .container {
    width: 98%;
  }
}