.modal-overlay {
  top: 0px!important;
  opacity: 0.8!important;
  height: auto !important;
}

.chip {
  color: white !important;
}

.card-action {
  a.btn {
    margin: 0 5px;
  }
}

.card {
  .card-title {
    font-weight: 500 !important;
    line-height: inherit !important;
    margin-bottom: 0px !important;
    i {
      line-height: 24px !important;
    }
  }
}

.tab {
  a {
    &:focus,
    &:focus.active {
      background-color: $white !important;
      outline: none;
    }

  }
}
// transparentize($tabs-underline-color, .9)

// modal button spacing issue
.modal-content {
  .modal-header {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
  }
}

.modal-footer {
  .btn, .btn-flat {
    margin: 0 5px !important;
  }
}

// Date picker not visible in iPad fix. BAK-429
.picker {
  position: fixed !important;
}

// The month and year selectors.
.picker__select--month, .picker__select--year {
  font-size: 13px !important;
}

// Dropdown content
.dropdown-content {
  li {
    min-height: 32px !important;
    border-bottom: 1px solid #f3f3f3;
    & > a, & > span {
      padding: 6px 12px !important;
      font-size: 14px !important;
      line-height: 20px !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

table {
  th {
    font-weight: 500;
  }
  &.highlight > tbody > tr {
    &:hover {
      background-color: #f9f9f9 !important;
    }
  }
  &.clickable-row > tbody > tr {
    &:hover, &:active, &:focus, &:visited {
      background-color: #f9f9f9 !important;
    }
  }
  &.non-highlight > tbody > tr {
    &:hover {
      background-color: transparent !important;
      cursor: default;
    }
  }
}


// Pagination
.pagination {
  li {
    a.icon-anchor {
      padding: 1px 2px;
      line-height: 16px;
    }
    &.active a {
      color: #fff !important;
      &:hover, &:active, &:focus {
        color: #fff;
      }
    }
    &.active {
      background-color: $secondary-color!important;
      color: #fff !important;
    }
    &.disabled a {
      &:hover, &:active, &:focus {
        color: #999;
      }
    }
  }
}

@media all and (max-width: 330px) {
  .pagination li i {
    width: 23px;
  }
}

/*
    hover color for white button
    later we need to add for any color hover as mentioned in floowing frame work issue
    https://github.com/Dogfalo/materialize/issues/1035
*/

.btn.white.grey-text {
  &:hover, &:active, &:focus {
    background-color: rgba(241,241,241,1) !important;
  }
}

// placeholder text color in mozilla firefox
::-moz-placeholder {  /* Firefox 19+ */
  color: #898989 !important;
}
