// iconfont
// how to use google font offline in the project
// http://google.github.io/material-design-icons/
// download fonts from
// https://github.com/google/material-design-icons/tree/master/iconfont
// Installing icons from bower
// $ bower install material-design-icons
// Installing icons from npm
// $ npm install material-design-icons

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(/assets/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(/assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
