.ctrl {
  vertical-align: top;
  width: 85px
}
.order-table {
  .name {
    font-size: 18px;
    font-weight: 500;
  }
  .date {
    vertical-align: top;
    width: 196px
  }
  .ico {
    i {
      border: 6px solid gray;
      border-radius: 50%;
      padding: 8px;
    }
  }
}