// Utility Color Classes

// Google Color Palette defined: http://www.google.com/design/spec/style/color.html
// how to add cusom color in materail
// https://medium.com/@mancebo128/how-to-properly-add-custom-colors-to-materialize-css-52e5e4c58d58

$custom-red: (
  "base":       #F44336,
  "darken-1":   #ab521e,
  "darken-2":   #D32F2F,
);

$custom-grey: (
  "base":       #646464,
  "lighten-7":  #ececec,
  "lighten-6":  #b7b7b7,
  "lighten-5":  #fafafa,
  "lighten-4":  #ebebeb,
  "lighten-3":  #f9f9f9,
  "lighten-2":  #949494,
  "lighten-1":  #f2f2f2,
  "darken-1":   #757575,
  "darken-2":   #616161,
  "darken-3":   #424242,
  "darken-4":   #c7c7c7,
  "darken-5":   #909090,
  "darken-6":   #cccccc,
  "darken-7":   #9e9e9e,
);

$custom-blue: (
  "base":       #4285F4,
  "lighten-6":  #80adf8,
  "lighten-5":  #5E97F6,
  "lighten-4":  #7BAAF7,
  "lighten-3":  #A1C2FA,
  "lighten-2":  #C6DAFC,
  "lighten-1":  #E8F0FE,
  "darken-1":   #3C7DF3,
  "darken-2":   #3372F1,
  "darken-3":   #2B68EF,
  "darken-4":   #1D55EC
);

$shades: (
  "black":          #000000,
  "white":          #FFFFFF,
  "standby":        #7D9CAD,
  "preheating":     #FF9342,
  "readytobake":    #97ED8A,
  "baking":         #53A100,
  "donebaking":     #FFBE35,
  "canceledbaking": #D73E3F,
  "continuebaking": #23CEE8,
  "unknown":        #A1A5AC,
  "cleaning":       #2A1BFF,
  "modeeconomical": #CEFF37,
  "transparent":  transparent
);

$custom-colors: (
  "custom-red": $custom-red,
  "custom-grey": $custom-grey,
  "custom-blue": $custom-blue,
  "shades": $shades
);

// Color Classes
@each $color_name, $color in $custom-colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    }
    @else if $color_name != "shades" {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  .#{$color} {
    background-color: $color_value !important;
  }
  .#{$color}-text {
    color: $color_value !important;
  }
}

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($custom-colors, ...)
@function custom-color($color, $type) {
  @if map-has-key($custom-colors, $color) {
    $curr_color: map-get($custom-colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }

  @warn $color;

  @warn "Unknown `#{name}` in $custom-colors.";
  @return null;
}
