<nav>
  <div class="nav-wrapper">
    <div class="row">
      <div class="col l12">
        <span class="brand-logo">
          <i class="material-icons">perm_data_setting</i>
          <span>Team directory</span>
        </span>
        <ul class="right">
          {{!-- <li><a href="#!"><i class="material-icons">search</i></a></li> --}}
          {{!-- <li><a href="#!"><i class="material-icons">info</i></a></li> --}}
          <li><a href="#!"><i class="material-icons">filter_list</i></a></li>
          <li><a href="#!" class="btn btn-default btn-rounded teal accent-4">Invite Coworkers</a></li>
          <li><a href="#!"><i class="material-icons">more_vert</i></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
{{!-- Safechain Test Agency --}}
  {{user-tabs data=model}}
</div>
