{{!-- The following component displays Ember's default welcome message. --}}
{{!welcome-page}}
{{!-- Feel free to remove this! --}}

{{outlet}}

<div class="continer">
  this is a container
  <a class="waves-effect waves-light btn">button</a>
</div>